# Ignorar variables de entorno
.env

# Ignorar dependencias
node_modules/

# Ignorar archivos generados por npm
package-lock.json

# Ignorar archivos temporales
.DS_Store
*.log

# Ignorar carpetas de VS Code (opcional)
.vscode/
